.taxonomy__section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3em;
}

.taxonomy__section+.taxonomy__section {
    margin-top: 0;
}

.taxonomy__section h3 {
    margin-top: 0;
}

.taxonomy__index a {
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #e2f8ff;
}